# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)
data.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.describe

<bound method NDFrame.describe of                          Name                 Job Titles        Department  \
0      ADRIANO,  RACQUEL ANNE                  PARAMEDIC              FIRE
1           AFFANEH,  MAHIR A             POLICE OFFICER            POLICE
2           AFOENYI,  PHYLLIS  TITLE V PROGRAM TRAINEE I  FAMILY & SUPPORT
3             AGAR,  BULENT B        DEPUTY COMMISSIONER       WATER MGMNT
4             AGEE,  LAWRENCE             POLICE OFFICER            POLICE
...                       ...                        ...               ...
33697      ZYLINSKA,  KLAUDIA             POLICE OFFICER            POLICE
33698      ZYMANTAS,  LAURA C             POLICE OFFICER            POLICE
33699       ZYMANTAS,  MARK E             POLICE OFFICER            POLICE
33700     ZYRKOWSKI,  CARLO E             POLICE OFFICER            POLICE
33701     ZYSKOWSKI,  DARIUSZ    CHIEF DATA BASE ANALYST              DAIS

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                     F           Salary            NaN        72510.0
1                     F           Salary            NaN        93354.0
2                     P           Hourly           20.0            NaN
3                     F           Salary            NaN       132972.0
4                     F           Salary            NaN        90024.0
...                 ...              ...            ...            ...
33697                 F           Salary            NaN        72510.0
33698                 F           Salary            NaN        76266.0
33699                 F           Salary            NaN        90024.0
33700                 F           Salary            NaN        93354.0
33701                 F           Salary            NaN       126732.0

       Hourly Rate
0              NaN
1              NaN
2             13.0
3              NaN
4              NaN
...            ...
33697          NaN
33698          NaN
33699          NaN
33700          NaN
33701          NaN

[33702 rows x 8 columns]>

In [4]:
# Your code here:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
data.isnull().sum()/len(data)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

76% of 'Typical Hours' data
24% of 'Annual Salary' data
76% of 'Hourly Rate' data are missing.

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
data['Hourly Rate'].value_counts()

Hourly Rate
37.45    1495
43.72     779
38.52     528
19.86     345
49.35     298
         ...
21.84       1
50.50       1
44.74       1
30.00       1
37.69       1
Name: count, Length: 178, dtype: int64

In [29]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Typical Hours,8174.0,34.364448,9.420849,10.00,20.00,40.00,40.00,40.0
Annual Salary,25528.0,89061.795000,21132.041408,14160.00,76266.00,90024.00,98292.00,275004.0
Hourly Rate,8174.0,34.586450,13.285543,2.65,22.36,37.45,43.72,128.0

In [21]:
data['Hourly Rate'].value_counts(dropna=False)
# why do I have still NaN values!?

Hourly Rate
NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: count, Length: 179, dtype: int64

In [27]:
mean_hourly_rate = data['Hourly Rate'].mean()
# Fill NaN values in 'Hourly Rate' column with the mean
data['Hourly_Rate'] = data['Hourly Rate'].fillna('mean_hourly_rate')

In [28]:
data['Hourly Rate'].value_counts()
data['Hourly Rate'].value_counts(dropna=False)

Hourly Rate
NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: count, Length: 179, dtype: int64

In [9]:
# Your code here:
data['Typical Hours'].value_counts()

Typical Hours
40.0    5920
20.0    1928
10.0     235
35.0      91
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
# Your code here:
department_counts = data.groupby('Department')['Name'].count().reset_index()
department_counts

             Department   Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
# what is the standard dev, assume here 3 ? What is the average hourly_wage? 
# You need to clean the data! 
import scipy.stats
hourly_wage = np.random.normal(30, 3, 600)
confidence_level = 0.95
#confidence_level = 1  # WHAT HAPPENS NOW?
degrees_freedom = len(hourly_wage) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(hourly_wage)
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(hourly_wage) # sem = standard error of the mean = std(patients)/sqrt(degrees_freedom)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [12]:
hourly_wage

array([29.68559217, 30.58387137, 29.32612409, 35.00981617, 28.70786948,
       27.59911322, 31.02822515, 32.29323477, 32.53712685, 25.95289255,
       34.17937607, 35.2328186 , 34.65488099, 28.38511818, 26.54376751,
       26.43474929, 32.79218935, 26.95328696, 28.49138387, 29.23010384,
       32.36258347, 30.7030045 , 30.66772218, 30.04532782, 28.30651927,
       31.67261813, 28.04445467, 32.80241994, 33.68864341, 29.23860448,
       31.66044209, 30.09151564, 33.59042287, 28.5357807 , 28.08580453,
       33.40054748, 38.0469138 , 27.37578583, 28.28037043, 32.18229039,
       29.71669975, 33.95003725, 34.04155771, 33.06200895, 33.49940623,
       32.23914132, 25.79502285, 31.70462485, 28.68039532, 26.61121738,
       28.23753124, 28.20628937, 29.45475726, 25.24186405, 29.93183798,
       32.31729427, 26.23898099, 27.0933645 , 30.73810795, 24.69766369,
       27.20376968, 32.16652364, 26.36815698, 29.51304064, 31.34801655,
       30.95350185, 27.43915722, 31.76396718, 31.08475148, 33.43997786,
       27.45199252, 29.49571715, 25.83751494, 29.28767436, 32.34824718,
       34.82556277, 29.32714962, 32.73155175, 32.50512926, 28.71415785,
       31.65292679, 25.9569138 , 31.61857426, 26.62772925, 29.55953277,
       26.28301098, 29.13160264, 29.800528  , 29.38429465, 28.71425217,
       37.06720971, 27.94939295, 23.15905007, 26.40742212, 31.7342715 ,
       27.09043883, 25.59161214, 30.36777052, 30.1965814 , 27.6688715 ,
       33.33154351, 34.04791763, 32.48767631, 29.55362815, 29.99354695,
       28.40626202, 33.95099692, 24.55858464, 34.09803907, 31.28034346,
       29.98620846, 33.98106827, 28.98308163, 24.90009152, 32.55204031,
       29.01168979, 32.42707707, 25.78916625, 28.82883096, 25.48796248,
       29.45772867, 28.88785362, 28.60103669, 35.16284499, 29.76988903,
       34.85089213, 27.64398316, 27.21967799, 27.86051044, 31.52014815,
       28.23023045, 34.09814625, 25.92444876, 27.36927385, 28.07135375,
       25.29508482, 34.47543235, 28.67606585, 27.28079552, 27.95499571,
       28.83587979, 29.14156197, 27.82132745, 29.58458133, 31.82087588,
       32.79106777, 23.70763897, 29.71686282, 36.20205299, 31.85235851,
       28.5653051 , 30.45687802, 31.4172714 , 29.6785629 , 31.65620974,
       31.45909026, 28.8134223 , 29.31097917, 27.9153521 , 31.53158087,
       29.81428689, 30.05936351, 27.20023699, 31.53905141, 31.50360937,
       32.6495853 , 30.33347438, 27.75758304, 31.01376488, 33.05915116,
       27.43302211, 29.13499663, 30.85641236, 33.24055278, 28.54057701,
       26.70235344, 32.51919951, 30.53345211, 31.46120752, 31.91152791,
       26.83426539, 30.79622361, 33.16462765, 30.75039524, 29.01451542,
       33.22067508, 26.51566944, 31.98130118, 27.23702396, 29.5091608 ,
       27.64269041, 29.23883829, 25.76570603, 33.96331437, 26.18624919,
       29.22295993, 24.64324975, 30.90844326, 27.88817238, 34.85236289,
       31.13694374, 29.11948827, 29.34453913, 32.5777163 , 33.10325177,
       32.11937404, 28.51523742, 32.4094305 , 25.59299461, 30.93318479,
       31.19539242, 36.3278256 , 30.61222744, 26.97799429, 29.17350761,
       29.00764422, 29.16150866, 26.97264252, 28.1136047 , 26.41724057,
       29.48076117, 27.08825503, 30.81281346, 28.86482146, 33.1175694 ,
       34.543262  , 33.95300857, 30.49818866, 32.78285175, 28.66356708,
       30.11081857, 28.21375297, 30.55580747, 31.33535732, 25.51980342,
       30.59910218, 31.17967618, 34.38388947, 28.84766793, 28.0550309 ,
       27.91463009, 28.62053886, 28.63320476, 21.4303722 , 30.23685288,
       31.13143902, 33.81305607, 29.90711531, 29.260592  , 32.20579133,
       27.80425718, 24.91948639, 28.30708098, 29.70638911, 27.20987915,
       27.93943969, 26.67654357, 30.88342628, 29.14418118, 38.15907674,
       27.40909915, 33.1345814 , 30.25073878, 30.41723853, 31.40019764,
       34.36699718, 29.75797767, 32.67318784, 29.10205904, 25.82654964,
       27.90397954, 30.11923796, 33.83190558, 28.31872156, 30.79835702,
       28.03735784, 24.61974682, 30.14413677, 35.31994754, 29.19667324,
       31.10505173, 24.7579318 , 28.36603481, 26.91017075, 31.20470797,
       28.85875511, 31.37974004, 30.19371855, 32.27025851, 30.18685817,
       22.71545669, 28.26433024, 26.63304817, 32.23846858, 30.86118928,
       28.94032263, 24.77680349, 31.25384115, 27.90730432, 24.55818739,
       33.36380232, 24.94132153, 33.74969359, 30.06789171, 27.92569512,
       24.22990195, 25.2875901 , 29.31151578, 28.9322845 , 31.48782581,
       28.36350527, 26.42049142, 33.09645673, 30.57903249, 29.05161872,
       25.88540369, 27.73540045, 29.84144321, 27.51849349, 28.20230234,
       28.82355125, 33.18442965, 30.36267753, 36.042023  , 28.83801434,
       28.00427182, 26.95406204, 30.18725106, 31.0716429 , 39.05444415,
       31.00419383, 33.75167431, 28.24816368, 27.21025772, 28.9665855 ,
       30.69090654, 34.82742142, 30.47148061, 32.96128742, 30.02385574,
       26.85418029, 30.94301191, 35.26570396, 30.88756763, 32.95386474,
       30.4912595 , 30.59126533, 33.16288416, 25.80414349, 28.01138776,
       28.75131611, 34.89647266, 27.15194305, 30.56945098, 31.15108265,
       26.19005942, 29.09952816, 25.54694629, 34.38199966, 29.39860821,
       29.69803471, 27.83964459, 28.61521203, 22.94646443, 32.69448367,
       30.43321646, 23.79284906, 28.93073786, 30.61702319, 27.38092368,
       28.81668867, 27.83889525, 33.98138463, 26.26625569, 32.09864797,
       29.33533802, 29.8526928 , 38.73558818, 29.74225708, 30.89261036,
       28.81615596, 28.20989901, 27.91927552, 24.53806216, 27.59798671,
       30.64789774, 31.34752778, 25.17669331, 29.30750297, 30.67548435,
       34.28474092, 24.12273139, 29.51129625, 30.83413614, 23.48686685,
       26.45111287, 25.02285127, 28.74763273, 33.85501675, 27.48702509,
       32.4897496 , 28.33786033, 28.60141794, 27.96155964, 31.09298437,
       28.96070712, 26.12364039, 30.68730228, 27.75566943, 30.52085373,
       25.42073142, 33.98221688, 29.70711729, 34.86408156, 28.67982678,
       27.72287239, 27.7016401 , 30.82257278, 31.32328129, 26.83395959,
       30.2334587 , 36.6468433 , 31.18107508, 27.32701602, 30.22903196,
       27.65119313, 29.81741292, 35.33620636, 26.86539909, 27.24205399,
       31.44027471, 31.08336295, 29.46753512, 32.63966683, 30.31332578,
       30.16828035, 30.85943697, 37.06584255, 31.80367869, 32.9917263 ,
       28.32999235, 27.88107506, 31.26974954, 39.06304866, 32.8021455 ,
       27.42839148, 28.27069297, 28.40155815, 27.017629  , 30.9056267 ,
       30.78384566, 25.07470576, 32.57957845, 27.98189324, 32.69614547,
       31.31944424, 28.28595308, 32.86026866, 32.00261517, 28.21774803,
       32.93143134, 28.72540015, 26.88789228, 33.21732845, 29.95790127,
       23.8542035 , 29.54047347, 30.16500651, 31.10319428, 30.28273977,
       27.45683417, 28.72712312, 32.45112005, 28.44306252, 29.482522  ,
       27.22565863, 22.26014013, 31.81309176, 29.03781056, 30.90178751,
       27.56592823, 27.8539099 , 29.5050083 , 26.46812589, 26.99535311,
       25.23135866, 32.62352657, 30.75266842, 35.26858522, 36.04033232,
       31.69515929, 26.8244864 , 29.95985596, 27.9563471 , 27.35631471,
       29.81405825, 29.32177252, 24.00196408, 28.93087174, 31.88246156,
       27.24338467, 27.57101011, 31.9242767 , 28.3083236 , 30.30588776,
       30.51895675, 30.58417564, 29.82975917, 32.95871197, 30.3110659 ,
       31.02010617, 28.3434984 , 29.06714358, 32.24014472, 31.88909585,
       27.34576351, 31.38304451, 28.98954706, 34.84441499, 28.77901218,
       28.5873864 , 23.30000805, 37.27219214, 30.63237488, 20.80077976,
       29.11081938, 31.67647947, 30.66937797, 36.60649768, 29.47054472,
       30.48321518, 33.17618693, 32.01915059, 32.39836264, 30.11098557,
       25.44642669, 32.96738839, 32.38428516, 31.52851239, 26.77634149,
       29.63006505, 34.94456256, 28.17955077, 35.61171593, 28.43724809,
       31.87333883, 30.39900332, 32.12773088, 27.86662826, 32.69924253,
       33.20202119, 30.78199823, 31.42242677, 30.46912346, 30.0218635 ,
       34.92288541, 31.9337643 , 29.67178301, 29.33456696, 29.31096253,
       36.19113702, 27.49784271, 31.77974544, 33.03467696, 32.89848895,
       29.62369568, 31.59444267, 30.22717916, 36.71083591, 29.39010897,
       31.99229917, 31.24167443, 29.4609818 , 28.64363753, 29.07887088,
       27.35864855, 33.14844201, 27.73613659, 31.50365284, 29.0827595 ,
       20.5812095 , 26.17548913, 27.53868426, 30.11542937, 28.46172201,
       34.06175403, 29.36952998, 27.39197264, 28.13152505, 29.5270926 ,
       22.19220166, 23.44456614, 29.71639942, 31.18811233, 27.58610617,
       32.49332725, 28.67957467, 31.77475688, 26.2247978 , 30.57433251])

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [13]:
# Your code here:
# Work on the annual salary too! 
# stat, pval = ttest_1samp(patients, 5.6)

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# Your code here:

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [15]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [16]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [17]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [18]:
# Your code here: