# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
display(data.shape)
data.head()

(33702, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [3]:
data.describe

<bound method NDFrame.describe of                          Name                 Job Titles        Department  \
0      ADRIANO,  RACQUEL ANNE                  PARAMEDIC              FIRE
1           AFFANEH,  MAHIR A             POLICE OFFICER            POLICE
2           AFOENYI,  PHYLLIS  TITLE V PROGRAM TRAINEE I  FAMILY & SUPPORT
3             AGAR,  BULENT B        DEPUTY COMMISSIONER       WATER MGMNT
4             AGEE,  LAWRENCE             POLICE OFFICER            POLICE
...                       ...                        ...               ...
33697      ZYLINSKA,  KLAUDIA             POLICE OFFICER            POLICE
33698      ZYMANTAS,  LAURA C             POLICE OFFICER            POLICE
33699       ZYMANTAS,  MARK E             POLICE OFFICER            POLICE
33700     ZYRKOWSKI,  CARLO E             POLICE OFFICER            POLICE
33701     ZYSKOWSKI,  DARIUSZ    CHIEF DATA BASE ANALYST              DAIS

      Full or Part-Time Salary or Hourly  Typical Hours  Annual Salary  \
0                     F           Salary            NaN        72510.0
1                     F           Salary            NaN        93354.0
2                     P           Hourly           20.0            NaN
3                     F           Salary            NaN       132972.0
4                     F           Salary            NaN        90024.0
...                 ...              ...            ...            ...
33697                 F           Salary            NaN        72510.0
33698                 F           Salary            NaN        76266.0
33699                 F           Salary            NaN        90024.0
33700                 F           Salary            NaN        93354.0
33701                 F           Salary            NaN       126732.0

       Hourly Rate
0              NaN
1              NaN
2             13.0
3              NaN
4              NaN
...            ...
33697          NaN
33698          NaN
33699          NaN
33700          NaN
33701          NaN

[33702 rows x 8 columns]>

In [4]:
# Your code here:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
# Your code here:
data.isnull().sum()/len(data)

Name                 0.000000
Job Titles           0.000000
Department           0.000000
Full or Part-Time    0.000000
Salary or Hourly     0.000000
Typical Hours        0.757462
Annual Salary        0.242538
Hourly Rate          0.757462
dtype: float64

76% of 'Typical Hours' data
24% of 'Annual Salary' data
76% of 'Hourly Rate' data are missing.

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
data['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

In [7]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Typical Hours,8174.0,34.364448,9.420849,10.00,20.00,40.00,40.00,40.0
Annual Salary,25528.0,89061.795000,21132.041408,14160.00,76266.00,90024.00,98292.00,275004.0
Hourly Rate,8174.0,34.586450,13.285543,2.65,22.36,37.45,43.72,128.0

In [8]:
data['Hourly Rate'].value_counts(dropna=False)
# why do I have still NaN values!?

Hourly Rate
NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: count, Length: 179, dtype: int64

In [9]:
mean_hourly_rate = data['Hourly Rate'].mean()
# Fill NaN values in 'Hourly Rate' column with the mean
data['Hourly_Rate'] = data['Hourly Rate'].fillna('mean_hourly_rate')

In [10]:
data['Hourly Rate'].value_counts()
data['Hourly Rate'].value_counts(dropna=False)

Hourly Rate
NaN      25528
37.45     1495
43.72      779
38.52      528
19.86      345
         ...
33.00        1
52.43        1
26.90        1
21.84        1
37.69        1
Name: count, Length: 179, dtype: int64

In [11]:
# Your code here:
data['Typical Hours'].value_counts()

Typical Hours
40.0    5920
20.0    1928
10.0     235
35.0      91
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [12]:
# Your code here:
department_counts = data.groupby('Department')['Name'].count().reset_index()
department_counts

             Department   Name
0          ADMIN HEARNG     38
1         ANIMAL CONTRL     75
2              AVIATION   1856
3     BOARD OF ELECTION    111
4       BOARD OF ETHICS      8
5         BUDGET & MGMT     44
6             BUILDINGS    258
7      BUSINESS AFFAIRS    167
8            CITY CLERK     88
9          CITY COUNCIL    362
10                 COPA    123
11     CULTURAL AFFAIRS     74
12                 DAIS   1033
13         DISABILITIES     28
14     FAMILY & SUPPORT    656
15              FINANCE    544
16                 FIRE   4627
17               HEALTH    467
18              HOUSING     66
19   HOUSING & ECON DEV    154
20      HUMAN RELATIONS     17
21      HUMAN RESOURCES     75
22        INSPECTOR GEN     95
23                  LAW    398
24    LICENSE APPL COMM      1
25       MAYOR'S OFFICE    104
26                 OEMC   1737
27               POLICE  13848
28         POLICE BOARD      2
29          PROCUREMENT     84
30       PUBLIC LIBRARY   1088
31  PUBLIC SAFETY ADMIN    244
32        STREETS & SAN   2175
33           TRANSPORTN   1113
34            TREASURER     28
35          WATER MGMNT   1914

In [13]:
Department = data['Department'].value_counts()
Department

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [14]:
data['Hourly Rate'].shape

(33702,)

In [15]:
data['Hourly Rate'] = data['Hourly Rate'].astype(str)

In [16]:
hour_worker = data['Hourly Rate'].dropna()
hour_worker
hour_worker = hour_worker.str.replace("[$,]", "", regex=True)
hour_worker = hour_worker.astype(float)

In [17]:
stat,pvalue = stats.ttest_1samp(hour_worker,30)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue)

Stat_Score =   nan
Pvalue =   nan

In [18]:
data['Hourly Rate'].dtype

dtype('O')

Drop the nan values!

In [19]:
hour_worker = hour_worker.dropna()
hour_worker

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [20]:
data['Hourly Rate']

0         nan
1         nan
2        13.0
3         nan
4         nan
         ...
33697     nan
33698     nan
33699     nan
33700     nan
33701     nan
Name: Hourly Rate, Length: 33702, dtype: object

In [21]:
stat,pvalue = stats.ttest_1samp(hour_worker,30)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue)

Stat_Score =   31.211500329216044
Pvalue =   3.825475847673794e-202

In [24]:
hour_worker.mean()

34.58644971862002

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [25]:
# Your code here:
# Work on the annual salary too! 
# stat, pval = ttest_1samp(patients, 5.6)
# Ho = Salary is <= 86000
# H1 = Salary is > 86000
dept_salary = data[data['Department']=='POLICE']
cops = dept_salary['Annual Salary']
# in order to avoid the attribute error 'Can only use .str accessor with string values!''
cops_salary = cops.astype(str)

cops_salary = cops_salary.str.replace("[$,]", "", regex=True)
cops_salary = cops_salary.astype(float)
cops_salary

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13848, dtype: float64

Using the `crosstab` function, find the department that has the most hourly workers.

In [26]:
# why it is nan here?! 
stats_value, pvalue = stats.ttest_1samp(cops_salary,86000)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   31.211500329216044
Pvalue =   nan

In [29]:
# Drop missing values from cops_salary
cops_salary = cops_salary.dropna()

In [30]:
stats_value, pvalue = stats.ttest_1samp(cops_salary,86000)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   31.211500329216044
Pvalue =   6.119566952121482e-76

In [33]:
con_level = 0.95
df = len(cops_salary)-1
mu = cops_salary.mean()
se = stats.sem(cops_salary)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (88534.1182885883, 89134.11955863392)

The p-value is below the threshhold of .05%. The Stat_Score is positive, so we can reject the null (Ho). 
H1 is positive!
Therefore the average salary is more than last year's average.

In [34]:
cops_salary.mean()

88834.11892361111

In [36]:
#Using the crosstab function, find the department that has the most hourly workers.
dept_hour = pd.crosstab(data['Department'],data['Salary or Hourly'])
dept_hour
most_hourly = dept_hour.loc[dept_hour['Hourly'] == dept_hour['Hourly'].max()]
most_hourly

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1846     329

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [41]:
# Your code here:
 
#Ho = hourly wage is >= 35/hour
#H1 = hourly wage is < 35/hour
dept_wage = data[(data['Department']=='STREETS & SAN') & (data['Salary or Hourly']=='Hourly')]['Hourly Rate'].copy()

dept_wage = dept_wage.str.replace("[$,]", "", regex=True)
dept_wage = dept_wage.astype(float)
dept_wage.mean

<bound method Series.mean of 15       40.78
16       38.52
26       38.52
49       29.96
65       37.45
         ...
33623    38.01
33624    37.45
33667    37.45
33668    38.52
33676    25.95
Name: Hourly Rate, Length: 1846, dtype: float64>

In [43]:
stats_value, pvalue = stats.ttest_1samp(dept_wage,35)
print('Stat_Score =  ',stats_value)
print('Pvalue =  ',pvalue/2)

Stat_Score =   4.000138803968834
Pvalue =   3.2902372218867895e-05

The one-sided ttest has a p-value well below .05, and the Stat_Score is 4. Their argument looks quite fair!

In [45]:
dept_wage.describe()

count    1846.000000
mean       35.552297
std         5.932167
min        21.730000
25%        36.450000
50%        37.450000
75%        38.520000
max        55.100000
Name: Hourly Rate, dtype: float64

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [46]:
# Your code here:
con_level = 0.95
df = len(hour_worker)-1
mu = hour_worker.mean()
se = stats.sem(hour_worker)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [48]:
# Your code here:
con_level = 0.95
df = len(cops_salary)-1
mu = cops_salary.mean()
se = stats.sem(cops_salary)

conf_int = stats.t.interval(con_level,df,mu,se)
print('Confidence interval is between', conf_int)

Confidence interval is between (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: